<div class="sw-home-view">
    <div class="container">
        <section class="sw-tools">
            <div class="row">
                <div class="col">
                    <h3>Star Wars Characters</h3>
                    <p>Example using Vue + VueRouter + Axios + Other drugs</p>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" :disabled="isLoading" v-model="search.person" placeholder="Enter a character name to search ...">
                        <p class="form-text text-muted">We'll never share your preferences with anyone else.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="sw-content" :class="contentClassObject">
            <div v-if="isLoading" class="row">
                <div class="col">
                    <div class="text-center">
                        <p><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></p>
                        <strong>Fetching data</strong>
                    </div>
                </div>
            </div>
            <div v-else class="row">
                <person-card v-for="person in filteredPeople" :key="person.name" :person="person"></person-card>
            </div>
        </section>
        <section class="sw-pagination">
            <load-more :total="total" @load-more="onLoadMore"></load-more>
        </section>
    </div>
</div>
